.cart-img {
    width: 80px;
    height: 80px;
}

.btn-delete img {
    width: 24px;
    height: auto;
}
.btn-delete {
    background-color: red;
}
.table-responsive {
    margin-top: 20px;
}

@media (max-width: 767px) {
    .btn {
        font-size: 0.9rem;
    }

    .btn-delete img {
        width: 20px;
    }
}